node_modules/
playwright-report/
test-results/
.DS_Store

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfvars
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/*.zip
infra/terraform.tfstate*.backup
